@-webkit-keyframes infoIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes infoIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes infoOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
@keyframes infoOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
#heros {
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
  top: 0vh;
  height: 100%;
}

#heros:before {
  display: block;
  content: "";
  padding-top: 50%;
}
.heros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
}
.heros figure {
  margin: 0;
  padding: 0;
  width: 10%;
  height: 100%;
  position: relative;
  -ms-flex-preferred-size: 10%;
  flex-basis: 10%;
  -webkit-transition: 0.8s linear;
  -o-transition: 0.8s linear;
  transition: 0.8s linear;
  -webkit-filter: saturate(25%);
  filter: saturate(25%);
}
.heros figure:not(.on):hover {
  cursor: pointer;
}
.heros figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.heros figure.on {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-transition: 0.8s linear;
  -o-transition: 0.8s linear;
  transition: 0.8s linear;
  z-index: 20;
  -webkit-filter: saturate(100%);
  filter: saturate(100%);
}
.heros figure div {
  -webkit-animation: infoOut;
  animation: infoOut;
}

.heros figure.on div {
  position: absolute;
  bottom: 20%;
  left: 5%;
  right: 5%;
  padding: 20px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.9);
  -webkit-animation: infoIn 1.2s;
  animation: infoIn 1.2s;
}
.heros figure.on div h2 {
  font-size: 3em;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid #4f5abb;
  margin-bottom: 10px;
}
.heros figure.on div p {
  font-size: 1.7em;
  width: 100%;
  margin-bottom: 0;
}
.heros figure.on div a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 600;
  transition: 0.3s ease;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.516);
}
.Paragraph {
  color: #d7d7d7;
}
.heros figure.on div a:after {
  content: "\f054";
  font-family: "FontAwesome";
  margin-left: 5px;
  display: inline-block;
  color: #4f5abb;
  transition: 0.3s ease;
}
.heros figure.on div a:hover::after {
  transform: translateX(3px);
  transition: 0.3s ease;
}
.heros figure.on div a:hover {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.9), 0 2px 3px rgba(0, 0, 0, 0.7);
  transition: 0.3s ease;
}
.h2 {
  font-weight: 600;
  font-family: "Bebas Neue", sans-serif;
  color: rgb(59 130 246);
}
@media screen and (max-width: 800px) {
  .heros {
    font-size: 1.3vw;
  }
  .heros figure.on div {
    padding: 20px;
  }
}
@media screen and (max-width: 600px) {
  .heros {
    font-size: 1.8vw;
  }
  .heros figure.on div {
    bottom: 5%;
    left: 0;
    right: 0;
    width: auto;
  }
}

@media screen and (max-width: 550px) {
  #heros {
    height: 40vh;
  }
  .heros {
    font-size: 2.9vw;
  }
}

@media screen and (max-width: 500px) {
  .overlay {
    height: 100%;
  }
  .h2 {
    font-size: 20px;
  }
  .Paragraph {
    font-size: 15px;
  }
}
